{
  "env": {
    "es2022": true
  },
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
